{% extends "baseframe.html" -%}
{% from 'baseframe/forms.html' import renderfield, rendersubmit %}

{% macro renderquestion(q) -%}
    <div class="question" >
        {{q.label}}
        {{q.form.hidden_tag()}}
        {{ renderfield(q.form.label) }}
        {{ renderfield(q.form.description) }}
        {{ renderfield(q.form.type) }}
        {% if q.form.choices %}
            {{ renderfield(q.choices) }}
        {% endif %}
    </div>
{%- endmacro %}

{% block footerscripts %}
<script>
$(function (){
    $('div#add-question').click(function(){
        var last_index = $('div.question').length;
        // make a js variable with the multi-line new question
        var new_question = '{{ renderquestion(form.questions.append_entry()).replace("\n", "\\") }}';

        // update the index to the latest (index starts with 0)
        new_question = new_question.replace(/uestions-{{ form.questions.last_index | int }}/g, 'uestions-'+last_index);

        // append the new question after all the existing ones.
        $('div.question').last().after(new_question);
    });
});
</script>
{% endblock %}


{% block basecontent %}
<h4>{{node.title or 'Create a New Form' }}</h4></br>

{% if node.title %}
    {% set action_url = url_for(node, 'edit') %}
{% else %}
    {% set action_url = url_for(node.parent, 'newform') %}
{% endif %}

{% set cancel_url = url_for(node) %}

<form method="POST" action="{{action_url}}" id='new-or-edit-form' class="form-horizontal">
    {%- if form.errors %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        Please correct the indicated errors.
      </div>
    {%- endif %}
    <div style="display:none;"><input type="hidden" name="form.id" value="{{ formid }}" /></div>
    {{ form.hidden_tag() }}
    {%- if form.csrf_token.errors %}
      {% for error in form.csrf_token.errors %}<div class="alert alert-error">{{ error }}</div>{% endfor %}
    {% endif %}

    {{ renderfield(form.title) }}
    {{ renderfield(form.description) }}

    {% for q in form.questions %}
        {{ renderquestion(q) }}
    {% endfor %}

    <div class="btn" id="add-question">Add one more question</div>

{{ rendersubmit([(None, submit or _("Submit"), 'btn-primary')], cancel_url=cancel_url) }}
</form>

{% endblock %}
