<!-- all macros related to Tags -->

{% macro show_tags(tags) %}
<p class="tags">
  {% if tags %}
    Tags:
    {% for tag in tags %}
      <span class="tag">
          <a href="{{url_for(tag)}}">{{tag.title}}</a>{% if not loop.last %}, {% endif %}
      </span>
    {% endfor %}
{% endif %}
</p>
{% endmacro %}

<!-- select 2 specific -->
{% macro edit_tags(form, tags) -%}
    {{ form.tags(value=tags|map(attribute='name')|join(',')) }}
{%- endmacro %}

<!-- select 2 specific -->
{% macro tags_js(tagnames) %}
    var existing_tags = [];
    {% for tn in tagnames %}
        existing_tags.push('{{tn}}');
    {% endfor %}
    $('#tags').select2({
        tags: existing_tags
    });
{% endmacro %}

<!-- end of macros related to tags -->
