{% extends "baseframe.html" -%}
{% from 'baseframe/forms.html' import rendersubmit, renderfield %}

{% block footerscripts %}
<script>
$(function (){
    var page_changed = false;
    var autosave_interval = {{page.autosave or 0}};
    var editor = $('.CodeMirror')[0].CodeMirror;
    var page_form = $('form#new-or-edit-page');

    function save_page(){
        // check if the form has changed before trying to save
        if (page_changed){
            // get the text to the actual textarea from the cm
            editor.save();
            // then post it to be saved
            $.ajax({
                type: "POST",
                url:  page_form.attr('action'),
                data: page_form.serialize(),
                success: function(data){
                    if (data && data.path ){
                        page_form.attr('action', data.path + '/edit');
                        $('p#save_status').html('Page saved.')
                            .show().delay(1000).fadeOut();
                    }
                },
                dataType: "json",
                timeout: 5000   // timeout post after 5 secs.
            });
            page_changed = false;
        }
        autosave();
    }

$('form#edit-page').bind("keyup change", function(){
    page_changed = true;
});

function autosave() {
    setTimeout(save_page, autosave_interval)
};

if (autosave_interval){
    autosave();
}
});
</script>
{% endblock %}

{% block basecontent %}
<p id='save_status' style='display:none;' class="alert alert-message fade in"></p>

{% if page %}
    <b>{{page.title or '' }}</b></br>
    <p>{{page.description.html}}</p>
{% endif %}

{% if page.title %}
    {% set action_url = page.path + '/edit' %}
{% else %}
    {% set action_url = '/new/page' %}
{% endif %}

<form method="POST" id="new-or-edit-page" action='{{action_url}}'>
    {%- if form.errors %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        Please correct the indicated errors.
      </div>
    {%- endif %}

{{form.hidden_tag()}}
{{renderfield(form.title)}}
{{renderfield(form.description, widget_css_class="codemirror")}}
{{renderfield(form.template)}}
{{rendersubmit([(None, "Submit", 'btn-primary')])}}
</form>

{% endblock %}
