{% extends "baseframe.html" -%}

{% block basecontent %}

<h2><a href='{{url_for(folder)}}'>{{folder.title}}</a></h2>

<div class="row">
    <div class="span6">
        {% for group in folder.nodes.itervalues() | groupby('type') %}
            <ul>
                <b> {{ group.grouper | title }}s </b>
                {% for n in group.list %}
                    &nbsp;&nbsp;&nbsp;<li><a href="{{url_for(n)}}">{{n.title}}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="span3">
        <a href="{{url_for(folder, 'newpage')}}">Add a Page</a></b> &nbsp;
        <a href="{{url_for(folder, 'newform')}}">Add a Form</a></b> &nbsp;
        <a href="{{url_for(folder, 'newfolder')}}">Add a Folder</a></b>
    </div>
</div>

{% endblock %}
